/* .quiz-title{
    text-align: center;
    font-family:'Times New Roman', Times, serif;    
} */
.quiz-text{
    text-align: center;
}
#basic-questions{
    background-color: #12161e;
    border-radius: 15px;
    padding: 30px;
}