.image-container{
    width: min(600px, 45vw);
    height: min(600px, 45vw);
    background-color: #181522;
}

div img{
    max-height: 100%;
    max-width: 100%;
}

.basic-quiz-button{
    width: 100%;
}

#home {
    max-width: 90%;
}
