.image-container{
    width: min(600px, 45vw);
    height: min(600px, 45vw);
    margin: 30px 0px 30px 0px;
}

div img{
    max-height: 100%;
    max-width: 100%;
}

.basic-quiz-button{
    width: 100%;
}
.desc-container {
    padding: 40px;
    background-color:  #12161e;
    border-radius:10px;
}

#home {
    max-width: 90%;
    padding: 60px;
    background-color: transparent;
}

@media (max-width:1000px){
    #home{
        text-align: center;
    }
    .image-container{
        align-self: center;
        width: 100%
    }
}