#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0006;
    pointer-events: none;
}

#text {
    color: #fff;
    font-size: 50px;
    /* text-align: center; */
    /* vertical-align: middle; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: auto; */
}

#inv-dots {
    color: #0000;
}
