.sticky-bar{
    position: sticky;
    bottom: 0;
    padding: 10px 0;
}

.in-progress .progress-bar {
    background-color: rgb(128, 0, 128);
}
.complete-quiz .progress-bar{
    background-color: rgb(48, 177, 184)!important;
}
