.tile {
    max-width: 70vw;
    background-color: #5d1781;
    border-radius: 15px;
    padding:25px;
    margin-top:10px;
    margin-bottom:10px;
}
.text-color{
    color: white;
    font-weight: bold;
    text-decoration-line: underline;
}

.underneath{
    color: white;
    font-size: 65%;
    margin: 8%;
}

.button-color{
    background-color: #132343;
}

.wrapper{
    background-color: #6d0035;
    border-radius: 15px;
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
}