.tile {
    max-width: 70vw;
    background-color: #5d1781;
    border-radius: 15px;
    padding:25px;
    margin: 20px auto;
}
.text-color{
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.underneath{
    color: white;
    font-size: 65%;
    margin: 8%;
}

.button-color{
    background-color: #132343;
}

.wrapper{
    background-color: #6d0035;
    border-radius: 15px;
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
}

.invalid {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #600;
    background-color: #f67;
    color: #600;
    font-size: .6em;
}
