.results {
    max-width: 70vw;
    background-color: #2e516d;
    border-radius: 15px;
    padding:25px;
    margin: 20px auto;
    text-align: center;
}
.text-color{
    color: white;
    font-weight: bold;
    text-align: left;
}

.underneath{
    color: white;
    font-size: 65%;
    margin: 8%;
}

.button-color{
    background-color: #132343;
}

.wrapper{
    background-color: #5d1781!important;
    border-radius: 15px;
    margin-top:15px;
    margin-bottom:75px;
    text-align: center;
}

.wrapper h1{
    font-size: 25px;
    font-weight: bold;
}

.wrapper p{
    font-size: 16px;
    text-align: left;
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}