/* .App {
    top: 55px;
    position: absolute;
} */

#app-body {
    top: 55px;
    height: calc(100vh - 55px);
    width: 100vw;
    position: absolute;
    overflow-y: scroll;
    overscroll-behavior-y: none;
}

.footer {
    text-align: center;
    background-color: rgb(32, 32, 77); 
    color: white;
    overflow: hidden;
    display: column;
    align-items: center;
}
.footer Form{
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.footer-items {
    display: flex;
    align-items: center;
}


.link-button {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    color: white;
} /* Styles plain html buttons to look like links so we don't need hrefs */

.button-style{
    background-color: rgb(93, 23, 128) ;
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    margin: 2px;
    padding: 5px;
    &:disabled{
        color: black;
        background-color: rgb(93, 23, 128);
        opacity: 0.7;
    }
    &:focus {
        background-color: rgb(61, 15, 84);
        color: rgb(255, 255, 255);
    }
    &:hover {
        background-color: rgb(61, 15, 84);
        border-color: rgba(0, 0, 0, 0);
    }
    &:active {
        background-color: rgb(93, 23, 128);
    }
}/*Style for all buttons*/

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.page {
    background-color: #1f242e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

/* .App-link {
    color: #61dafb;
} */

::-webkit-scrollbar {
    display: none;
}

.align-to-button {
    width: calc(100% - 4px);
    margin: 0 2px;
}

div {
    background-color: inherit;
}
